<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="/CSS/dashboard.css">
    <title>Dashboard</title>
</head>
<body>
    <%- include('../partials/header'); %>

    <main class="container" style="padding:32px;">
        <h1>Bem-vindo <span id="nomeUsuario" style="font-style: italic; "></span></h1>

        <section style="display:grid; grid-template-columns:2fr 1fr; gap:16px; margin-top:24px;">
            <div class="cards">
                <h3>Resumo</h3>
                <p>Espaço reservado para métricas e informações rápidas.</p>
            </div>

            <div class="cards">
                <h3>GRUPOS</h3>

                <div class="card-list" id="gruposList"></div>
            </div>


        </section>

    </main>

    <%- include('../partials/footer'); %>

<script src="/JS/dashboard.js"></script>
</body>
</html>
